{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input%}
{% block title %}course over view{% endblock title %} {%block content %}
<!-- {% if message !="" %}
{%with message=message, type="success"%}
{% include 'components/generic/alert.html' %}
{%endwith%}
{% endif %}
{% if error !="" %}
{%with message=error, type="danger"%}
{% include'components/generic/alert.html' %}
{%endwith%}
{% endif %} -->
<div class="container section">
     <table class="table">
          <thead>
               <tr>
                    <th><abbr title="sn">SN</abbr></th>
                    <th><abbr title="exam No">title</abbr></th>
                    <th><abbr title="firstname">department</abbr></th>
                    <th><abbr title="lastname">level</abbr></th>
                    <th><abbr title="phone No">level</abbr></th>
                    <th><abbr title="email">faculty</abbr></th>
                    <th><abbr title="phone No">duration</abbr></th>
                    <th><abbr title="Drawn"></abbr></th>
                    <th><abbr title="Drawn"></abbr></th>
               </tr>
          </thead>
          <tbody>
               {% for course in courses %}
               <tr>
                    <th><strong>{{index}}</strong></th>
                    </td>
                    <td>{{course.title}}</td>
                    <td>{{course.department}}</td>
                    <td>{{course.faculty}}</td>
                    <td>{{course.semester}}</td>
                    <td>{{course.level}}</td>
                    <td>{{course.duration}}</td>
                    <td><a class="button" href="/course/{{course.id}}}/details">Edit</a> <a class="button"
                         href="/course/{{course.id}}">delete</a></td>
                    </tr>
               {% endfor %}

          </tbody>
     </table>
     <div class="container">
          <nav class="pagination" role="navigation" aria-label="pagination">
               <a class="pagination-previous" href="/course/?skip=-5">Previous</a>
               <a class="pagination-next" href="/course/?skip=5">Next page</a>
          </nav>
     </div>
</div>
{% endblock content%}