{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input
%} {% block title %}update course{% endblock title %} {%block content %}

<section class="section">
  <h1 class="title has-text-centered">update course</h1>
  <div class="columns">
     <div class="column"></div>
     <div class="column is-three-quarters">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <form action="{{request.url_for('update_course')}}" method="post">
          <div>
            {{input(placeholder="title", name="title", type="text",
            error=errors.title, value=course.title)}}
          </div>
          <div>
            {{input(placeholder="department", name="department", type="text",
            error=errors.department, value=course.department)}}
          </div>
          <div>
            {{input(placeholder="faculty", name="faculty", type="text",
            error=errors.faculty, value=course.faculty)}}
          </div>
          <div>
            {{input(placeholder="semester", name="semester", type="text",
            error=errors.semester, value=course.semester)}}
          </div>
          <div>
            {{input(placeholder="level", name="level", type="number",
            error=errors.level, value=course.level)}}
          </div>
          <div>
            {{input(placeholder="duration", name="duration", type="time",
            error=errors.duration, value=course.title)}}
          </div>
          <button type="submit" class="button">update </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="column"></div>
</section>
{% endblock content%}
