@charset "utf-8";
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #3730A3;
$green: #34D399;
$red:#EF4444;
$blue:#1D4ED8;
$cyan:#4c97f3;
$gray-dark: #4B5563;
$beige-light: #F3F4F6;
$beige-lighter: #F9FAFB;
$black:#111827;


// Update Bulma's global variables

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $gray-dark;
$grey-light: $beige-light;
$black:$black;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$input-background-color:$beige-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$link: $blue;
$info: $cyan;
$success: $green;
$danger: $red;
$text: $black;
@import "../node_modules/bulma/bulma.sass";