{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input, textarea, select
%} {% block title %}create question{% endblock title %} {%block content %}

<section class="section">
  <h1 class="title has-text-centered">add question</h1>
  <div class="columns">
     <div class="column"></div>
     <div class="column is-three-quarters">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <form action="{{request.url_for('question_register')}}" method="post">
          <div>
            {{textarea(placeholder="question", name="", type="text",
            error=errors., value=question.)}}
          </div>
          <div>
            {{input(placeholder="option1", name="option1", type="text", value=question.options1)}}
          </div>
          <div>
            {{input(placeholder="option2", name="option2", type="text", value=question.options2)}}
          </div>
          <div>
            {{input(placeholder="option3", name="option3", type="text", value=question.options3)}}
          </div>
          <div>
            {{input(placeholder="option4", name="option4", type="text", value=question.options4)}}
          </div>
          <div>
            {{select(placeholder="department", name="department", type="text",
            error=errors.department, options=question.department)}}
          </div>
          <div>
            {{select(placeholder="semester", name="semester", type="text",
            error=errors.semester, value=question.semester, options=question.semester)}}
          </div>
          <div>
            {{input(placeholder="level", name="level", type="number",
            error=errors.level, value=question.level, options=question.level)}}
          </div>
          <button type="submit" class="button">create </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="column"></div>
</section>
{% endblock content%}
