{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input
%} {% block title %}Register{% endblock title %} {%block content %}
<section class="section is-medium">
  <h1 class="title text-center">Forgot password</h1>
  {% with message = message%}
  {% include 'generic/alert.html' %}
  {%endwith%}
  <div class="card">
    <div class="card-content">
      <div class="content">
        <form action="/login" method="post">
          <div>
            {{input(placeholder="Email", name="email", type="email",
            error=errors.username)}}
          </div>
          <button type="submit" class="submit"></button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content%}