{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input
%} {% block title %}Register{% endblock title %} {%block content %}
<section class="section is-medium">
  <h1 class="title text-center">Forgot password</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <form action="/forget/password/{{userId}}" method="post">
          <div>
            {{input(placeholder="new password", name="password", type="password",
            error=errors.password)}}
          </div>
          <div>
            {{input(placeholder="confrom new password", name="confirmPassword", type="password",
            error=errors.confirmPassword)}}
          </div>
          <button type="submit" class="submit">submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content%}