{% extends 'layout/base.html' %} {% from 'macros/inputMacro.html' import input
%} {% block title %}Register{% endblock title %} {%block content %}

<section class="section">
  <h1 class="title has-text-centered">Register</h1>
  <div class="columns">
     <div class="column"></div>
     <div class="column is-three-quarters">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <form action="{{request.url_for('user_register')}}" method="post">
          <div>
            {{input(placeholder="Firstname", name="firstname", type="text",
            error=errors.firstname, value=user.firstname)}}
          </div>
          <div>
            {{input(placeholder="Lastname", name="lastname", type="text",
            error=errors.lastname, value=user.lastname)}}
          </div>
          <div>
            {{input(placeholder="Email", name="email", type="email",
            error=errors.email, value=user.email)}}
          </div>
          <div>
            {{input(placeholder="Phone number", name="phone", type="tel",
            error=errors.phone, value=user.phone)}}
          </div>
          <div>
            {{input(placeholder="Password", name="password", type="password",
            error=errors.password, value=user.firstname)}}
          </div>
          <div>
            {{input(placeholder=" Confirm Password", name="confirmPassword",
            type="password", error=errors.confirmPassword)}}
          </div>
          <button type="submit" class="button">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="column"></div>
</section>
{% endblock content%}
