{% macro input(placeholder, name, type="text", error="", value="") %}
<div class="field mb-4">
  <div class="control">
    <input class="input" type="{{type}}" name="{{name}}" value="{{value}}" id="{{name}}" placeholder="{{placeholder}}" required>
  </div>
  {% if error %}<p class="help">{{error}}</p>{% endif %}
</div>
{% endmacro %}

{% macro checkbox(placeholder, name, error="", value="") %}
<div class="field mb-4">
  <label class="checkbox">
    <input name="{{name}}" type="checkbox" value="">
    {{placeholder}}
  </label>
  {% if error %}<p class="help">{{error}}</p>{% endif %}
</div>
{% endmacro %}

{% macro textarea(placeholder, name, error="", value="") %}
<div class="field">
  <div class="control">
    <textarea name="{{name}}" class="textarea" placeholder="{{placeholder}}">{{value}}</textarea>
  </div>
  {% if error %}<p class="help">{{error}}</p>{% endif %}
</div>
{% endmacro %}

{% macro select(placeholder, name, error="", options=[]) %}
<div class="field has-addons">
  <div class="control is-expanded">
    <div class="select is-fullwidth">
      <select name="{{name}}">
        <option value="{{placeholder}}">{{option}}</option>
        {% for option in options %}
        <option value="{{option}}">{{option}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
</div>
{% endmacro %}

{% macro radio() %}
<div class="control">
  <label class="radio">
    <input type="radio" name="rsvp">
    Going
  </label>
  <label class="radio">
    <input type="radio" name="rsvp">
    Not going
  </label>
  <label class="radio" disabled>
    <input type="radio" name="rsvp" disabled>
    Maybe
  </label>
</div>
{% endmacro %}